h1{
	font-size: 5vw;
	color: white;
	font-family: 'Libre Baskerville', serif;

}


h2{
	font-size: 3vw;
	color: gray;
	font-family: 'Libre Baskerville', serif;

}


/*
body{
	background-image: url('/static/img/galaxy.png');
	padding-top: 85px;

}*/





.cash_value{
	color: #FFDF00
}

.bgcustom{
	
	background-image: linear-gradient(to bottom right,  #1619f0, #060CE9,#9129c2);
            		   

}

.center{
	padding-top: 20px;
}


.fade-in{
	 -webkit-animation: fadein 15s; 
     -moz-animation: fadein 15s; 
     -ms-animation: fadein 15s; 
     -o-animation: fadein 15s; 
      animation: fadein 15s;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#footer{
	position: fixed;
  	left: 0;
  	bottom: 0;
	width: 100%;
	text-align: center;
}